<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />

    <title>메인 페이지</title>
  </head>
  <style>
    body {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
    .TableBox {
      border: 0.5px solid #828282;
    }
    .posting {
      border-radius: 50px;
      width: 500px;
    }
    button {
      margin: 5px;
    }
    td {
      font-weight: bold;
    }
  </style>
  <body>
    <div class="btnBox">
      <button
        onclick="location.href = '/create'"
        class="w-50 mb-5 mt-2 btn btn-success"
      >
        글쓰기
      </button>
    </div>

    <table class="table TableBox">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">글 제목</th>
          <th scope="col">내용</th>
          <th scope="col">날짜</th>
          <th scope="col">수정/삭제</th>
        </tr>
      </thead>

      <tbody>
        <% data.forEach((el,index) => {%>
        <tr>
          <th scope="row"><%= index + 1%></th>
          <td><%= el.Title %></td>
          <td><%= el.Article %></td>
          <td><%= el.Created.toLocaleDateString() %></td>
          <td>
            <a class="btn btn-warning" href="/edit/<%= el.id %> ">수정/삭제</a>
          </td>
        </tr>
      </tbody>
      <% }) %>
    </table>
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
